/*清除浏览器默认样式*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: '微软雅黑', 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 100%;
    height: 100%;
    
    
}
a{
    text-decoration: none;
}
.contain{
    width: 100%;
    height: 100%;
    background-image: url(/image/timg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


.header{
    width: 930px;
    height: 60px;
    /* background-color: #f01; */
    margin: 0 auto;
    padding-top: 32px;
}

.header  li{
    display: inline-block;
    width: 115px;
    text-align: center;
    line-height: 36px;

}
.header  li a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 6px;
}
.header  li a:hover{
    border-bottom: 2px solid #29BDB9;
}

.header li.logo{
    position: absolute;
    top: 10px;
    width: 173px;
    height: 64px;
    background-image: url(/image/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header  .sec{
    margin-left: 180px;
}

.header .reg{
    width: 86px;
    height: 36px;
    background: #28BEB8;
    border: 1px solid #28BEB8;
}

.header .reg, .header .login{
    font-size: 14px;
    color: #fff;
}
.header .reg:hover{
    border-bottom: 0;
    color: #fff;
}

.header .reg:hover{
    background:#219A96;
}


.header .login{
    width: 86px;
    height: 36px;
    border: 1px solid #28BEB8;
    font-size: 14px;
}

.header .login:hover{
    border-bottom: 0;
    color: #fff;
}

.header .login:hover{
    background-color: #fff;
    border-color: #fff;
}
.header .login:hover{
    color: #333;
}


.ad{
    width: 770px;
    height: 44px;
    font-size: 44px;
    text-align: center;
    color: #fff;
    margin: 200px auto 20px;
}
.ad span{
    color:#29BDB9 
}
.ad1{
    font-size: 24px;
    margin-top: 30px;
}

.free{
    width: 120px;
    height: 50px;
    line-height: 50px;
    background: #28BEB8;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 54px auto;
}

.free:hover{
    background:#219A96;
}


.header li.user{
    width: 200px;
    text-align: left;
    color: #fff;
}
.header li.user a{
    color: #28BEB8;
    font-size: 16px;
}
.header li.user a:hover{
    border-bottom: 0;
    
}

.header li.user img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}