<% include header.html %>
    <ol class="breadcrumb">
        <li>
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">分类</a>
        </li>
        <li class="active">分类添加</li>
    </ol>

    <form action="" id="additem" class="form-inline">
        <div class="form-group">
            <label for="qcname">名称</label>
            <input type="text" class="form-control" name="qcname" id="qcname" placeholder="请输入分类名称">
        </div>
        <button type="button" class="btn btn-default saveclass">保存</button>
    </form>
<% include footer.html %>