<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>面试题后台管理系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div class="container-fluid">
        <!-- 顶部导航 start -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员操作
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">修改密码</a>
                                </li>
                                <li>
                                    <a href="#">退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- 顶部导航  end -->

        <!-- 侧边导航  start -->
        <aside class="H4-left">
            <ul class="menu">
                <li class="f">分类</li>
                <li class="c">
                    <ul>
                        <li>
                            <a href="/admin/qclass/add">分类添加</a>
                        </li>
                        <li>
                            <a href="/admin/qclass">分类管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- 侧边导航 end -->
        <!-- 主题部分 start-->
        <section class="main">