<% include header.html %>
    <ol class="breadcrumb">
        <li>
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">试题</a>
        </li>
        <li class="active">试题管理</li>
    </ol>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>题干</th>
            <th>分类</th>
            <th>难易</th>
            <th>重要</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        <% 
        let n = 0;
        for(let q of questionlist){
            n++;
            %>
        <tr>
            <td><%=n%></td>
            <td><%=q.qtitle.replace(/<[^>]+>/g, '').substring(0, 100)%></td>
            <td><%=q.qcname%></td>
            <td><span class="star" style="width:<%=q.diff*16%>px"></span></td>
            <td><span class="star" style="width:<%=q.import*16%>px"></span></td>
            <td><%=q.addtimes.toLocaleString()%></td>
            <td>
                <a href="javascript:void(0)" class="delq" qid="<%=q.qid%>">删除</a>|
                <a href="/admin/question/update?qid=<%=q.qid%>">修改</a>    
            </td>
        </tr>
        <%}%>
    </table>
    <% include footer.html %>