<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前端工程师-面试题题库-首页</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="contain">
        <!-- 顶部导航  start -->
        <ul class="header">
            <li class="logo"></li>
            <li class="sec"><a href="/">首页</a></li>
            <li><a href="/question">题库</a></li>
            <% if(typeof username =='undefined'){%>
            <li>
                <a href="/user/">个人中心</a>
            </li>
            <%}%>
            <li><a href="##">关于我们</a></li>

            <% if(typeof username !='undefined'){%>
            <li class="user">
                你好，<a href="/user/"><%=username%></a> 
            </li>
            <%}else{%>
            <li class="reg">
                <a href="/reg">注册</a>
            </li>
            <li class="login">
                <a href="/login">登录</a>
            </li>
            <%}%>
            
        </ul>
        <!-- 顶部导航  end -->

        <div class="ad"><span>一分钟免费</span>快速注册账号</div>
        <div class="ad ad1"><span>1000+</span>学员通过该平台完成笔试题测试并找到<span>6000+</span>工作</div>
        <a href="/question/"><div class="free">免费试用</div></a> 
    </div>

</body>

</html>