<% include top.html%>
    <div class="container-fluid mylogin">

        <form class="form-horizontal" id="loginform">
            <h2>登录</h2>
            <hr>
            <!-- 跳转到登录之前访问的页面地址 -->
            <input type="hidden" name="href" id="href" value="<%=href%>">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="username" id="username" placeholder="请输入账号或手机号">
                <span class="help-block"></span>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </span>
                <input type="password" class="form-control" name="passwd" id="passwd" placeholder="请输入密码">
                <span class="help-block"></span>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-picture"></span>
                </span>
                <input type="text" class="form-control mycoder" name="coder" id="coder" placeholder="请输入验证码">
                <img src="/coderimg" alt="" class="codeimg">
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default  login loginsub">登录</button>
                </div>
            </div>
        </form>
    </div>
    <% include bottom.html%>