<% include top.html%>
    <div class="container">
        <h1>登录</h1>
        <form class="form-horizontal" id="loginform">
            <!-- 跳转到登录之前访问的页面地址 -->
            <input type="hidden" name="href" id="href" value="<%=href%>">
            <div class="form-group">
                <label for="username" class="col-sm-2  col-xs-4 control-label">账号/手机号</label>
                <div class="col-sm-10  col-xs-8">
                    <input type="text" class="form-control" name="username" id="username" placeholder="请输入账号">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="passwd" class="col-sm-2  col-xs-4 control-label">密码</label>
                <div class="col-sm-10 col-xs-8">
                    <input type="password" class="form-control" name="passwd" id="passwd" placeholder="请输入密码">
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="passwd" class="col-sm-2  col-xs-4 control-label">验证码</label>
                <div class="col-sm-10 col-xs-8">
                    <input type="text" class="form-control" name="coder" id="coder" placeholder="请输入密码" style="width:80px;display: inline-block;">
                    <img src="/coderimg" alt="" class="codeimg">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default  login">登录</button>
                </div>
            </div>
        </form>
    </div>
    <% include bottom.html%>