<% include top.html%>
    <!-- <div class="container-fluid myfluid">
        <div class="regtop">
                <h1>免费注册账号</h1>
        </div>
    </div> -->
    <div class="container-fluid myfluid myregform">
        <form class="form-horizontal" id="regform">
                <h1>免费注册账号</h1>
                <hr>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="username" id="username" placeholder="请输入账号">
                <span class="help-block"></span>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </span>
                <input type="password" class="form-control" name="passwd" id="passwd" placeholder="请输入密码">
                <span class="help-block"></span>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </span>
                <input type="password" class="form-control" name="passwd2" id="passwd2" placeholder="请输入密码">
                <span class="help-block"></span>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-earphone"></span>
                </span>
                <input type="password" class="form-control" name="tel" id="tel" placeholder="请输入手机号">
                <span class="help-block"></span>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="text" class="form-control" name="email" id="email" placeholder="请输入邮箱">
                <span class="help-block"></span>
            </div>

            <div class="form-group">
                <div class="col-sm-10 ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agree" id="agree"> 是否同意《
                            <a href="./ada">用户注册协议</a>》协议
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default regbtn">注册</button>
                </div>
            </div>
        </form>
    </div>
    <% include bottom.html%>