<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title ? title : ''%>-前端工程师面试题题库</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/my.css">
</head>
<body>
    <!-- 顶部导航  start -->
    <ul class="header">
        <li class="logo"></li>
        <li class="sec">
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/question">面试题库</a>
        </li>
        <li>
            <a href="##">面试宝典</a>
        </li>
        <% if(typeof username =='undefined'){%>
            <li>
                <a href="/user/">个人中心</a>
            </li>
        <%}%>
        <% if(typeof username !='undefined'){%>
        <li class="user">
            你好，<a href="/user/"><%=username%></a> ，<a href="/logout/">退出</a> 
            <img src="<%=header%>" alt="">
        </li>
        <%}else{%>
            <a href="/reg"><li class="reg">注册</li></a>
            <a href="/login"><li class="login">登录</li></a>
        <%}%>
    </ul>
    <div class="topline"></div>
     <!-- 顶部导航  end -->