<% include top.html%>
    <div class="container-fluid">
        <!-- <h1><img src="<%=header%>" class="topheader" alt="">欢迎<%=username%>来到面试题平台 </h1> -->
        <div class="row">
                <% include userleft.html%>
                <div class="col-sm-10 col-xs-10 main">
                    <h3>修改个人头像</h3>
                    <form class="form-horizontal" id="headerform">
                        <button type="button" class="btn btn-default uploadheader">上传头像</button>
                        <input type="file" class="hide" name="header" id="header" accept="image/jpeg, image/png, image/gif, image/bmp, image/svg" >
                        <hr>
                        <img src="<%=header%>" alt="" id="myheader">
                        <input type="hidden" name="myheader" value="<%=header%>">
                        <hr>
                        <button type="button" class="btn btn-default saveheader">保存</button>
                    </form>
                </div>
        </div>
    </div>
    <% include bottom.html%>